.container__small-card{
  width: 400px;
  margin-top: .5rem;
  padding-bottom: .5rem;
  border-bottom: 1px solid var(--color-border);
}

.container__small-card-content{
  display: flex;
  flex-direction: row;
  gap: 20px
}

.small-card__photo > img {
  width: 175px;
}

.small-card__title > h1 > a {
  font-size: 18px;
  color: var(--color-subtitle);
}

.container__small-card__separator{
  margin-top: 10px;
}
