.container__content{
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;

  align-items: center;
}

.content__cover > img{
  border:5px solid var(--color-border);
  border-radius: 5px;
  width: 500px;
  min-width: 500px;
  height: 300px;
}

.content__title {
  color: var(--color-blue);
  margin-top: 16px;
  border-bottom: 1px solid var(--color-blue);
}

.content__description{
  margin-top: 15px;
  max-width: 70%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.content__description > p{
  margin: 20px auto;
  color: var(--color-text);
}

.content__description a {
  color: var(--color-blue);
  text-decoration: underline;
}
